<!DOCTYPE html>
<html>
<head>
  <title>Templating w/ Underscore</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="#">
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- Underscore -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <!-- Data -->
  <script type="text/javascript" src="data.js"></script>
  <!-- Your App -->
  <script type="text/javascript" src="app.js"></script>
</head>
<body>

  <h1 style="text-align: center; font-size: 50px; font-family: helvetica">GitHub Superstars</h1>

  <!-- octocat template placeholder -->
  <div id="octocats-placeholder"></div>

  <!-- octocat template -->
  <script type="text/template" id="octocat-template">
    <div class="octocat" style="margin: auto; text-align: center">
      <p>
        <span style="font-size: 30px; font-family: sans-serif"><%= lastName %>, <%= firstName %></span> <br><a href='http://www.github.com/<%= githubUsername %>'><img src=<%= image %> height= '100px'></a>
      </p>
      
    </div>
  </script>
  
</body>
</html>